body {
    font-family: 'Arial', sans-serif;
    background-color: #ffd700;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 小型設備（手機）樣式 */
@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    input {
        width: 200px;
        padding: 10px;
        margin-bottom: 20px;
    }
}

/* 中型設備（平板）樣式 */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* 在這裡添加平板上的樣式 */
}

/* 大型設備（桌面）樣式 */
@media only screen and (min-width: 1025px) {
    /* 在這裡添加桌面上的樣式 */
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 15px;
    background-color: #ffa500;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3cb371;
}

#result {
    margin-top: 20px;
}
